.nav {
  display: none; /* not ready yet */
}
body {
  background-image: linear-gradient(to bottom,#d7d7d7 0%,#eeeeee 116px);
}

.root {
  outline: none;
}

span {
  font-size: 30px;
  line-height: 50px;
}

span.collapsible {
  background-color: #DDD;
  cursor: pointer;
}

span.expandable {
  background-color: #FFF;
  cursor: pointer;
}

.group-leader {
  position: relative;
}

.slider-container {
  position: absolute;
  left: 0px;
  top: -15px;
  width: 100%;
}

.slider:hover, .group-leader:hover .slider, .group-leader.active .slider {
  opacity: 1;
}

.slider {
  opacity: 0;
  position: relative;
  z-index: 1;
  padding-bottom: 5px;
  width: 100%;
}

.slider-dot {
  position: absolute;
  background-color: gray;
  z-index: 0;
}

.slider-big-dot {
  position: absolute;
  background-color: black;
  z-index: 0;
}

.slider-big-dot.hot {
  background-color: red;
}
.slider-drag {
  width: 100%;
  height: 100%;
  z-index: 1000;
}
