.nav {
  display: none; /* not ready yet */
}
body {
  background-image: linear-gradient(to bottom,#d7d7d7 0%,#eeeeee 116px);
}
.root {
  outline: none;
}

span {
  font-size: 30px;
  line-height: 50px;
}

span.collapsible:hover {
  background-color: #999;
}

span.collapsible {
  background-color: #BBB;
  cursor: pointer;
}

span.expandable:hover {
  background-color: #DDD;
}

span.expandable {
  background-color: #FFF;
  cursor: pointer;
}
